@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
  --grey: #aeaeae;
  --primary-color: #A7C7E7;
  --secondary-color: #C0D682;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --grey: #aeaeae;
    --primary-color: #A7C7E7;
    --secondary-color: #C0D682;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
